<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd"
>
    <!--注入1-->
    <bean id="teacher" class="spring09shujuleixing.Teacher">
        <property name="name" value="谢欣"></property>
        <property name="age" value="18"></property>
        <property name="friendName">
            <list>
                <value>富贵</value>
                <value>大胖</value>
                <value>小白</value>
            </list>
        </property>
        <property name="loverName">
            <set>
                <value>王一博</value>
                <value>余庆伟</value>
                <value>林甜甜</value>
            </set>
        </property>
        <property name="score">
            <map>
                <entry key="java" value="98"></entry>
                <entry key="jquery" value="120"></entry>
                <entry key="mysql" value="100"></entry>
            </map>
        </property>
        <property name="db">
            <props>
                <prop key="username">甜甜</prop>
                <prop key="pass">qwq</prop>
            </props>
        </property>

        <!--读取properties-->
        <util:properties id="db" location="classpath:spring09shujuleixing/db.properties"></util:properties>
    </bean>
</beans>