<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
    >
    <!--这是一个xml文件，也就是容器。是用来管理很多对象的-->
    <!--什么是管理？ 对象的诞生，使用，死亡，依赖关系-->

    <!--spring创建对象 底层是工厂类-->
    <!--id唯一 class指向类名的全称，带上包名-->
  <bean id="date" class="java.util.Date"></bean>
    <!--测试对象的生命周期要用单例模式-->
    <!--<bean id="pc" class="spring04iocrongqi.Pc"></bean>-->
  <!--<bean id="pc" class="spring04iocrongqi.Pc" scope="prototype"></bean>-->
    <bean id="pc" class="spring04iocrongqi.Pc" init-method="initShow" destroy-method="destory"></bean>
</beans>